<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Legenda</title>
</head>

<body>
  <table style="width:100%">
    <tr>
      <th>Espressione</th>
      <th>Significato</th>
    </tr>
    <tr>
      <td>pi</td>
      <td>Pi Greco</td>
    </tr>
    <tr>
      <td>e</td>
      <td>Numero di Eulero</td>
    </tr>
    <tr>
      <td>phi</td>
      <td>Sezione aurea</td>
    </tr>
    <tr>
      <td>abs(x)</td>
      <td>Valore assoluto</td>
    </tr>
    <tr>
      <td>acos(x)</td>
      <td>Arcocoseno</td>
    </tr>
    <tr>
      <td>asin(x)</td>
      <td>Arcoseno</td>
    </tr>
    <tr>
      <td>atan(x)</td>
      <td>Arcotangente</td>
    </tr>
    <tr>
      <td>atan2(x)</td>
      <td>Arcotangente2</td>
    </tr>
    <tr>
      <td>ceil(x)</td>
      <td>Ceiling</td>
    </tr>
    <tr>
      <td>cos(x)</td>
      <td>Coseno</td>
    </tr>
    <tr>
      <td>cosh(x)</td>
      <td>Coseno iperbolico</td>
    </tr>
    <tr>
      <td>degrees(x)</td>
      <td>Gradi</td>
    </tr>
    <tr>
      <td>exp(x)</td>
      <td>E elevato alla x</td>
    </tr>
    <tr>
      <td>fabs(x)</td>
      <td>Valore assoluto reale</td>
    </tr>
    <tr>
      <td>floor(x)</td>
      <td>Parte interna</td>
    </tr>
    <tr>
      <td>fmod(x)</td>
      <td>Resto del numero in virgola mobile</td>
    </tr>
    <tr>
      <td>frexp(x)</td>
      <td>Frazione potenza di 2 </td>
    </tr>
    <tr>
      <td>hypot(x)</td>
      <td>Ipotesi</td>
    </tr>
    <tr>
      <td>ldexp(x)</td>
      <td>Operazione in virgola mobile</td>
    </tr>
    <tr>
      <td>log(x)</td>
      <td>Logaritmo naturale</td>
    </tr>
    <tr>
      <td>log10(x)</td>
      <td>Logaritmo naturale in base 10</td>
    </tr>
    <!--tr>
      <td>modf(x)</td>
      <td>___</td>
    </tr-->
    <tr>
      <td>pow(x,y)</td>
      <td>Eleva X alla Y</td>
    </tr>
    <tr>
      <td>radians(x)</td>
      <td>Radianti</td>
    </tr>
    <tr>
      <td>sin(x)</td>
      <td>Seno</td>
    </tr>
    <tr>
      <td>sqrt(x)</td>
      <td>Radice quadrata</td>
    </tr>
    <tr>
      <td>tan(x)</td>
      <td>Tangente</td>
    </tr>
    <tr>
      <td>tanh(x)</td>
      <td>Tangente iperbolica</td>
    </tr>
  </table>
</body>
</html>
